
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

.website-title{
    font-size: 60px;
    text-align: center;
    padding-top:10%;
    color: rgba(237, 246, 249);
}

body {
    font-family: Raleway;
    margin: center;
    background-color:rgba(28, 82, 83);
    padding-bottom:5%;
}

.search-bar {
    max-width: 640px;
    background: #f0f0f0;
    border-radius: 24px;
    display: flex;
    align-items: center;
    padding: 4px 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin:auto;
}

#search-input {
    border: none;
    outline: none;
    padding: 8px 16px;
    border-radius: 24px;
    width: 100%;
    font-size: 16px;
}

#search-button {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.material-icons {
    color: #007bff;
    font-size: 24px; /* You can adjust the size if needed */
}

.dropdown {
    position: relative;
    display: block;
    width: 80%;
    margin: auto;
    max-width: 640px;
}

.dropdown button {
    width: 100%;
    text-align: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.checkbox-item {
    display: flex; /* This makes the checkbox and label align in a row */
    align-items: center; /* This vertically centers the checkbox and label */
    padding: 5px; /* Add some padding for spacing */
}

.checkbox-item input[type="checkbox"] {
    margin-right: 10px; /* Add some space between the checkbox and the label */
}

/* Existing styles here */

.text-boxes-container {
    display: flex; /* Align the text boxes side by side */
    justify-content: space-between; /* Space out the text boxes */
    padding: 10px; /* Add some padding inside the container */
}

.text-box {
    flex: 1; /* Distribute space evenly */
    margin-right: 20px; /* Add some space between the text boxes */

}

.text-box:last-child {
    margin-right: 10px; /* Remove margin for the last text box */
}

.text-box label {
    display: block; /* Ensure the label is above the text box */
    margin-bottom: 5px; /* Space between label and text box */
}

.text-box input[type="text"] {
    width: 100%; /* Make the text box fill its container */
}

.text-box textarea {
    width: 100%; /* Make the textarea fill its container */
    height: auto; /* Auto height based on content */
    min-height: 60px; /* Minimum height equivalent to approximately 3 lines of text */
    padding: 5px; /* Add some padding inside the textarea */
    resize: vertical; /* Allow vertical resizing only */
}

/* Base dropdown styles */
.dropdown {
    position: relative;
    display: block;
    width: 80%;
    margin: 10px auto; /* Add margin for spacing */
    border-radius: 10px; /* Round the corners */
}

.dropdown button {
    background-color: #f2f2f2; /* Soft background color */
    background-color:rgba(131, 197, 190);
    border: 1px solid #ddd; /* Subtle border */
    border-radius: 10px; /* Round the corners */
    padding: 5px; /* Add padding */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.dropdown button:hover {
    background-color: #e8e8e8; /* Slightly darker on hover */
    background-color:rgba(101, 167, 160);
}

.dropdown-content {
    display: none;
    position: relative;
    left: 0;
    right: 0;
    background-color:rgba(131, 197, 190);
    box-shadow: 0 8px 16px rgba(0,0,0,0.1); /* Soft shadow */
    z-index: 1;
    border-radius: 10px; /* Round the corners */
    padding: 15px; /* Add padding */
    transition: all 0.3s ease-in-out; /* Smooth transition */
}

.dropdown-content.show {
    display: block;
}

/* Styles for text boxes and checkboxes */
.text-box, .checkbox-item {
    margin-bottom: 10px;
}

.text-box textarea {
    width: 100%;
    min-height: 60px;
    padding: 5px;
    border: 1px solid #ddd; /* Subtle border */
    border-radius: 5px; /* Slightly round corners */
    resize: vertical;
    transition: border-color 0.3s; /* Smooth transition for focus effect */
}

.text-box textarea:focus {
    border-color: #aaa; /* Change border color on focus */
}

.checkbox-item input[type="checkbox"] {
    margin-right: 5px;
}

.checkbox-item label {
    line-height: 1.5; /* Improve line height */
}

#results {
    width: 80%;
    margin: auto;
}

.result-box {
    display: flex;
    flex-wrap: wrap; /* Allows content to wrap as needed */
    justify-content: space-between; /* Spreads content out */
    align-items: center; /* Ensures vertical alignment to the center for all items */
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}

.result-box.spring {
    background-color: rgb(234, 221, 202);
}

.class-code, .class-title, .class-description, .class-prerequisites {
    padding: 5px;
}

.class-code {
    font-weight: bold;
    color: rgba(238, 108, 77);
    font-size: 18px;
}

.class-code.spring {
    color: rgba(139, 64, 0);
}

.class-title {
    color: rgba(238, 108, 77);
    margin-left: 5px;
    font-size: 18px;
}

.class-title.spring {
    color: rgba(203, 101, 64);
}

.class-description {
    color: rgba(237, 246, 249);
}

.class-description.spring {
    color: black;
}

.class-prerequisites {
    color: rgba(237, 246, 249);
}

.class-prerequisites.spring {
    color: black;
}

.feedback {
    display: flex;
    flex-direction: column; /* Stack buttons on top of each other */
    align-items: center;
    gap: 10px;
    color: rgba(237, 246, 249);
    flex: 0 0 auto; /* Prevents feedback from growing or shrinking */
}

.circle-btn {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-btn.green {
    background-color: #28a745;
}

.circle-btn.red {
    background-color: #dc3545;
}

.circle-btn.green:hover {
    background-color: rgb(0,127,29);
}

.circle-btn.red:hover {
    background-color: rgb(180, 13, 29);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .result-box {
        flex-direction: column;
    }

    .class-code, .class-title, .class-description, .class-prerequisites {
        display: block;
        width: 100%; /* Full width for better readability on small screens */
    }

    .feedback {
        flex-direction: row; /* Align buttons side by side on mobile */
        justify-content: center; /* Center the buttons horizontally */
        width: 100%; /* Full width on small screens */
    }
}

@media (min-width: 769px) {
    .result-box {
        justify-content: space-between;
    }

    .class-code, .class-title, .class-description, .class-prerequisites {
        flex: 1; /* Allows these elements to grow */
    }

    .class-description {
        flex: 2; /* Allows description to take up more space */
    }

    .feedback {
        flex: 0 0 auto; /* Keeps feedback from growing or shrinking */
    }
}


.results-number-container {
    display: flex; /* Aligns the label and buttons in a row */
    align-items: center; /* Vertically centers the items in the container */
    margin-left: 10px;
}

.button-group {
    display: flex; /* Places all buttons in a row */
    margin-left: 5px; /* Adds some space between the label and the buttons */
    align-items: center; /* Ensures buttons are aligned with the label */
    width: 70%;
}

.number-button {
    border-radius: 5px; /* Rounded corners for a square appearance */
    width: auto; /* Adjusts width automatically */
    min-width: 30px; /* Minimum width */
    height: 30px;
    border: 1px solid #007BFF; /* Border color */
    background-color: #FFF; /* Background color */
    cursor: pointer;
    margin-right: 5px; /* Space between buttons */
    font-size: 12px; /* Smaller font size */
    padding: 0 10px; /* Horizontal padding for better spacing */
    display: flex; /* Use flexbox for alignment */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.number-button.selected {
    background-color: rgba(28, 82, 83); /* Highlight selected button */
    color: white;
}

.custom-link {
    color: rgba(243, 141, 104) !important; /* Use !important to ensure it overrides any other link color styles */
}

.custom-link.spring{
    color:rgb(139, 64, 0) !important;
}

/* Navigation Bar Styles */
.navbar {
    overflow: hidden;
    background-color: #333; /* Dark background color */
    position: fixed; /* Fixed at the top */
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: white; /* Text color */
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd; /* Light grey background on hover */
    color: black; /* Text color on hover */
}

.about {
    background-color: rgb(234, 221, 202); /* Light grey background */
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    line-height: 1.6; /* Improved line spacing */
    width: 60%;

}

.about p {
    margin-bottom: 16px; /* Space between paragraphs */
}


/* Credits

Search engine design - ChatGPT 

*/